<h1> New Rounds for <%= link_to @naukri.name, @naukri %></h1>

<%= form_with(model: [@naukri, @round], local: true) do |f| %>
  <%= render "shared/errors", object: @round %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %>

  <%= f.label :total_marks %>
  <%= f.number_field :total_marks %>

  <%= f.label :option_type %>
  <%= f.select :option_type, Round::PAPER_TYPE,
              prompt: "Pick one" %>

  <%= f.submit %>
<% end %>